html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url('logo2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#dialog {
    display: none;
    color: #fff;
    position: fixed;
    /*width: 25%;*/
    /*height: 50%;*/
    bottom: 0px;
    right: 0;
    margin: 25px;
    border: 1px;
    border-style: solid;
    border-color: #111;
    /*opacity: 0.8;*/
    background-color: #000;
    box-shadow: 3px 3px 1px 0px #111;
}

svg#path {
    margin: 25px 25px 0 25px;
}

#info {
    margin: 0 25px 15px 25px;
    font-size: 14px;
    color: #999;
}
#info > h3 {
    text-transform: uppercase;
    font-weight: normal;
}
#info > p {
    margin: 15px 40px 5px 40px;
}
#info > table {
    margin: 20px 30px 25px 30px;
}
#info th.resource {
    text-align: center;
    text-transform: uppercase;
}
#info th {
    color: #fff;
    text-align: right;
    padding: 2px 10px 2px 10px;
}
#info td.resource {
    text-align: left;
    text-transform: capitalize;
    min-width: 175px;
}
#info td {
    text-align: right;
    padding: 2px 10px 2px 10px;
}

svg#chart {
    width: 2200px;
    height: 2200px;
    margin: 0px;
    padding: 0px;
}

#title {
    color: #81D4FA;
    font-size: 32px;
    font-weight: bold;
    margin: 15px;
}

.event {
    stroke: #8BC34A;
}
.event:hover {
    fill: #8BC34A;
}

.facility {
    stroke: #FFCA28;
}
.facility:hover {
    fill: #FFCA28;
}

.research {
    stroke: #82B1FF;
}
.research:hover {
    fill: #82B1FF;
}

.project {
    stroke: #EF5350;
}
.project:hover {
    fill: #EF5350;
}

.item {
    stroke: #3F51B5;
}
.item:hover {
    fill: #3F51B5;
}

.drop {
    stroke: #9C27B0;
}
.drop:hover {
    fill: #9C27B0;
}

.node {
    stroke-width: 3px;
    opacity: 0.45;
    cursor: pointer;
}
.node.selected {
    r: 13;
}

.text:hover {
    /*text-transform: uppercase;*/
    fill: #fff;
    opacity: 1;
    /*font-weight: bolder;*/
}
.text {
    text-transform: capitalize;
    stroke: none;
    fill: #888;
    font-size: 14px;
    /*opacity: 0.8;*/
    cursor: pointer;
    /*text-shadow: 1px 1px #000;*/
}
.text.selected {
    text-transform: uppercase;
    font-size: 16px;
}

.link {
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: .2;
}

svg#path .text {
    fill: #fff;
}
svg#path .node {
    fill: #000;
    opacity: 1;
}
svg#path .link {
    stroke-width: 2px;
    stroke-opacity: 0.5;
}
